.form-container {
  margin-top: 30px;

  .form-header {
    text-align: center;
    color: #0290ff;
    padding-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-label {
      font-weight: 600;
    }

    .form-input {
      display: block;
      padding: 10px;
      font-weight: 600;
      border-radius: 5px;
      margin: 10px 0;
      width: 100%;
    }

    .form-btn {
      padding-top: 10px;
    }
  }
}
