.header {
  position: fixed;
  width: 90%;
  min-height: 10vh;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px 0;
  border-bottom: 3px solid #f1f1f1;

  .nav {
    display: flex;
    justify-content: space-around;

    &__logo {
      &__h1 {
        font-size: 2rem;

        &__link {
          color: #0290ff;
        }
      }
    }

    &__ul {
      display: flex;
      justify-content: center;

      &__li {
        margin: 5px 25px;
        list-style-type: none;

        &__link {
          text-decoration: none;
          color: #535353;
          text-transform: uppercase;
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}
